.product-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  @media screen and (max-width: 600px) {
    .product-table {
      border: 0;
    }
    
    .product-table thead tr {
      display: none;
    }
    
    .product-table td {
      display: block;
      border: none;
      border-bottom: 1px solid #dddddd;
      position: relative;
      padding-left: 50%;
      text-align: left;
    }
    
    .product-table td:before {
      position: absolute;
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    
    .product-table td:before {
      content: attr(data-label);
    }
  }
  